@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-primary-hover: #9b2cee;
  --color-background: #ffffff;
  --color-foreground: #08060d;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-foreground);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0f1115;
    --color-foreground: #f3f4f6;
  }
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}
